.body{
    padding-right: 50px;
    align-content: center;
    justify-content: center;
}
.part-one{
    height:40%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
  border-bottom: 2px solid hsl(220, 14%, 75%);
  width:70%;
  margin-left: 10%;
 
}
.cart{
    display:flex;
    flex-direction: row; 
  margin-left: 50%;
  padding-right:1%;
}
.part-two{
    margin:3% 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
}
.image1{
 width :500px;
 height:420px;
}
.image2{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
   gap:15px;
}
#img{
    width:400px;
    height:420px;
    border-radius: 10px;
}
#one{
width:90px;
border-radius: 2px;
}
#two{
    width:90px;
    border-radius: 2px;
}
#three{
    width:90px;
    border-radius: 2px;
}
#four{
    width:90px;
    border-radius: 2px;
}
#cart1{
    width:30px;
    height:30px;
}
#cart2{
    Height:30px;
    width:30px;   
}
.right{
    margin-top:1%;
}
.h{
    display: flex;
    flex-direction: row;
    gap:7px;
}
#low{
    font-size: 16px;
    font-family:sans-serif;
}
#logo{
    height:19px;
    margin:1%;
}
.p2{
    height:90px;
    display: flex;
    flex-direction: row;
    gap:15px;
}
.lower{
    width:400px;
    display: flex;
    flex-direction: row;
    gap:40px; 
}
.waiver{
    margin-top: 5%;
    justify-content: center;
   height:20Px;
    width:35px;
    border-radius: 2px;
    color:hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%) ;
}
.plus{
    display: flex;
    flex-direction: row;
    gap:15px;
   padding:2%;
   background-color:hsl(223, 64%, 98%) ;
   border-radius: 10px;
}
#minus{
height:7px;
width:10px;
}
#plus{
    height:7%;
    width:10px;
 
}
.button{
    width:200px;
    height:35PX;
    display: flex;
    flex-direction: row; 
    border-radius: 10px;
    background-color:hsl(26, 100%, 55%) ;
    justify-content: center;
}
#cartbtn{
  height:20px;
  padding-top: 5px;
  color: hsl(0, 0%, 100%);
}
.add{
    color:hsl(0, 0%, 100%);
    margin:3%;
}
#h4{
    color:hsl(26, 100%, 55%);
}